/* SignUp.css */

.signup {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 20px;
    background-color: #f5f5f5; /* Color de fondo gris claro */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup h2 {
    color: #ff6600; /* Color naranja para el título */
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  
  .signup form {
    margin-top: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333; /* Color gris oscuro para etiquetas */
  }
  
  .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .input-group .input-icon {
    padding: 10px;
    background-color: #ff6600; /* Color de fondo gris para el icono */
    color: #ffffffe7; /* Color gris medio para el icono */
  }
  
  .input-group input {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    
  }
  
  .btn-signin {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6600; /* Color naranja para el botón */
    color: #fff; /* Texto blanco para el botón */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-signin:hover {
    background-color: #ff8533; /* Color naranja claro al pasar el ratón */
  }
  
  .other-signin-options {
    margin-top: 30px;
  }
  
  .other-signin-options p {
    text-align: center;
    margin-bottom: 20px;
    color: #666; /* Color gris medio para el texto de opciones */
  }
  
  .signin-icons {
    display: flex;
    justify-content: center;
  }
  
  .signin-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 5px;
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signin-option:hover {
    background-color: #e0e0e0; /* Color gris claro al pasar el ratón */
  }
  
  .signin-option span {
    margin-left: 5px;
  }
  
  .btn-register {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333; /* Color gris oscuro para el botón de registro */
    color: #fff; /* Texto blanco para el botón de registro */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  
  .btn-register:hover {
    background-color: #666; /* Color gris medio al pasar el ratón */
  }
  